.parking-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: black;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
}
spot-card,h3{
    font-weight: bold;
    display: flex;

    justify-content: center;
    
}
sport-cart,p{
    font-weight: 100;
    
    text-align: center;
}


.search-bar {
    display: flex;
    gap: 10px;
    background: white;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    width: 600px;
    height: 60px;
    align-items: center;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
    font-size: 16px;
}

.search-bar button {
    background: #6278d2;
    width: 200px;
    border: none;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
}

.parking-title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.parking-spots {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
}

.spot-card {
    width: 300px; 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease-in-out;
    background: white;
}

.spot-card:hover {
    color: white;
    background: #6278d2;
    transform: scale(1.05); 
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.6);
}
