.login-container {
    width: 400px;
    margin: 50px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
    text-align: left;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    margin-bottom: 15px;
    text-align: center;
    
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #6278d2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #3B5BDB;
  }
  